/*--------- login --------------*/
/*src: https://codepen.io/joostf/pen/VKyPxk*/
form[action="#home"]:valid button {
    transition: .3s;
    background-color: #2ecc71;
	box-shadow: 0px 6px 0px #16a085;
}
form[action="#home"]:valid button:active {
    background-color: #16a085;
}

input[type="checkbox"] {
    opacity: 0;
}
input[type="checkbox"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: .2em;
    width: .8em;
    height: .8em;
    background: silver;
    margin-right: .2em;
    text-indent: .15em;
    line-height: .65;
    border-radius: .1em;
}
input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background: #D7DBCB;
}

input:-webkit-autofill{
    background-color: #999
}