iframe {
    .g-background-default {
        background: transparent;
    }
    #widget > div.cookiePolicy.sc-background-light{
        display: none !important;
    }
    div.sc-background-light{
        background: transparent;
    }
}


