@font-face {
    font-family: Amps;
    src:local('Arial'),
        local('Helvetica'),
        local('Verdana');
    unicode-range: U+26;
}
/*===== Tags =====*/
body {
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

main {
    transition: .6s filter;
}
main.de-empasized {
    filter: blur(5px) contrast(.8) brightness(.8);
}
aside {
    padding: 0em;
    margin: 0;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

article {
    margin: 1em;
    padding: 1em;
}

dialog {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
    border-radius: .5em;
}
dialog:not([open]) {
	display: none;
}
input,
button {
    font-size: 1em;
    align-self: center;
    padding: 1em;
    border: none;
    cursor: pointer;
}

a[role="button"]:hover,
a[role="button"]:focus,
input:not([type="email"]):not([type="password"]):not([type="text"]):focus,
input:not([type="email"]):not([type="password"]):not([type="text"]):hover,
button:focus,
button:hover {
    background-color: #772221
}
a[role="button"],
button,
input {
    outline: 0;
}

a {
    text-decoration: none;
    outline: 0;
    font-family: Amps, 'Montserrat', sans-serif;
}

img,
svg {
    max-width: 100%;
}


/*===== Componentens =====*/
form:not([action="#"]) {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    min-width: 50%;
    max-width: 50vw;
    padding: 3em;
}
form input:not([type="checkbox"]) {
    min-width: 100%;
    padding: .5em;
    margin-bottom: 1em;
}

form input[type="text"]:focus + label,
form input[type="email"]:focus + label,
form input[type="password"]:focus + label {
    /*visibility: hidden;*/
    font-size: 0.8em;
    bottom: 6em;
}

form label:not([for="field-stay-logged-in"]) {
    position: relative;
    left: 1em;
    bottom: 2.5em;
    transition: .3s;
}

form label.up {
    bottom: 4.5em;
}


/*===== Layout =====*/
body {
    margin-left: auto;
    margin-right: auto;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    margin-left: 1em;
}
nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
}
/*chat*/
aside {
    transition: 0.5s;
    max-width: 20em;
    background: white;
    box-shadow: 0 0 0.5em #ccc;
    position: fixed;
    right: 0;
    bottom: 0;
    padding-bottom: 1em;
}
aside span {
    transition: 0.3s;
    cursor: pointer;
    content: "Start a chat";
    display: flex;
    font-weight: 400;
    color: #EF3B3A;
    padding: 1em;
    justify-content: center;
    background-image:
        linear-gradient(90deg, honeydew 17px, transparent 0),
        linear-gradient(90deg, #F3F9D2 23px, transparent 0),
        linear-gradient(90deg, white 41px, transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
}
aside span:hover {
    background-color: rgb(215, 219, 203);
}
aside:hover {
    opacity: 1;
    cursor: pointer;
}

aside form {
    display: flex;
}
aside form label {
    position: absolute;
    left: -9999;
}

aside ol {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin: 0;
}
aside ol li {
    min-width: 100%;
    margin-bottom: 1em
}
aside ol li > p {
    display: inline-block;
    padding: 0.5em 1em;
    text-align: left;
    margin: 0;
    box-shadow: 0 0 .05em grey;
    background-color: rgb(215, 219, 203);
}

aside ol li:nth-of-type(odd) {
    text-align: right;
}
aside ol li:nth-of-type(even) p{
    border-radius: 0 2em 2em 2em;
}
aside ol li:nth-of-type(odd) p{
    border-radius: 1em 1em 0 1em;
}
aside ol li:nth-of-type(odd) p[data-status="READ"]{
    color: #84DCC6;
}
aside footer{
    font-size: .7em;
}

aside footer p {
    margin: 0.1em 0;
}

aside footer time{
    color: #84DCC6;

}

aside ol ~ form {
    justify-content: space-around;
    align-items: center;
    box-shadow: none
}

aside ol ~ form textarea {
    border: none;
    resize: none;
    position: relative;
}

aside ol ~ form label[for="field-message"] {
    position: absolute;
    z-index: 2;
    bottom: 1.5em;
    color: #999;
}
textarea:focus {
    outline: 0;
}
textarea:focus + label {
    font-size: 0.01em;
}

section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.search + section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h2,
h3 {
    text-align: center;
}


article {
    width: 20em;
    /*max-width: 30em;*/
    position: relative;
}

#home article a::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
}

article img {
    float: left;
    margin-right: 1em;
}

article img {
    max-width: 5em;
}

article h1 {
    margin: 0;
    margin-bottom: 1em;
    word-wrap: break-word;
}
article footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2em;
    font-size: 0.9em
}
article footer a{
    min-width: 100%
}
figure {
    margin: 0;
}

iframe,
iframe + article {
    min-width: 90vw;
    align-content: center;
}

label,
label + input {
    max-width: 10em;
}

form a,
form a + button {
    width: 100%;
    text-align: center;
}



/*===== Theme =====*/
body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: honeydew;
    font-family: 'Montserrat', sans-serif;
}

header {
    box-shadow: 0 0.1em 1em #e3e3e3;
    background-color: white;
}
article {
    background-color: white;
    box-shadow: 0 0.1em 1em #ccc;
}

article h1 {
    color: #EF3B3A;
}

dialog {
    background: rgba(0,0,0,0.3);
}

form[method="post"] {
    background: white;
    box-shadow: 0 0 1em  #e3e3e3;
}
form input:not([type="checkbox"]) {
    box-shadow: 0 0.1em #e3e3e3
}

/*src: https://tympanus.net/codrops/2012/01/11/css-buttons-with-pseudo-elements#post-7170*/
button,
input[type="submit"],
a[role="button"] {
    background-color: #EF3B3A;
    color: white;
	padding:10px;
	position:relative;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
	box-shadow: 0px 6px 0px #772221;
	border-radius: 5px;
}

button:active,
input[type="submit"]:active  {
	top:7px;
	background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
	box-shadow: inset 0px 1px 0px #772221, inset 0px -1px 0px #772221;
	background: #772221;
}




a,
i {
    color: #EF3B3A
}
a span {
    text-transform: uppercase;
}
a:focus {
    box-shadow:  0 0.1em #EF3B3A;
    color: #772221;
}
/*===== Helpers =====*/
/*src: https://codepen.io/joostf/pen/VKyPxk*/
form[method="post"] input:valid {
    box-shadow:  0 0.1em honeydew;
}
form[method="post"] input:invalid {
    box-shadow:  0 0.1em #EF3B3A;
}
.loader {
    width: 512px;
    height: 512px;
    background: url(../img/loading_spinner.png);/*src: https://www.hceamericas.com/wp-content/themes/bd/assets/img/loading_spinner.gif*/
    text-indent: 200%;
    white-space: nowrap;
    animation: loader 1s infinite steps(8);
    transform: scale(0.10);
}
@keyframes loader {
    to {
        background-position: -4048px 0
    }
}

.hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

:target {
    transition: 3s;
    opacity: 1;
}

.offscreen {
    bottom: -34em;
    width: 8em;
    overflow: hidden;
    opacity: 0.5;
}

/*--------- login --------------*/
input[type="checkbox"] {
    opacity: 0;
}
input[type="checkbox"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: .2em;
    width: .8em;
    height: .8em;
    background: silver;
    margin-right: .2em;
    text-indent: .15em;
    line-height: .65;
    border-radius: .1em;
}
input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background: #D7DBCB;
}
input[type="checkbox"]:focus + label::before {
    border:0.1em solid #EF3B3A;
}

input:-webkit-autofill{
    background-color: #999
}

/*--------- rating --------------*/
fieldset {
    border: 0;
    margin: 4em 0;
    padding: 0;

}

fieldset div {
    display: flex;
}


fieldset input[type="radio"] {
    opacity: 0;
}
fieldset input[type="radio"] + label{
    transition: .3s;
    color:  #EF3B3A;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    float: left;
    margin-right: 2em;
    cursor: pointer;
    text-align: center;
}


fieldset svg {
    height: 2em;
    width: 100%;
    max-width: 2em;
    margin: 0;
    border: 0.1em solid rgb(215, 219, 203);
    padding: .2em;
    border-radius: 0.3em;
}

fieldset label:hover svg > circle,
fieldset label:hover svg > path,
fieldset input[type="radio"]:checked + label svg > circle,
fieldset input[type="radio"]:checked + label svg > path {
    transition: 1s;
    r: 100;
    border-radius: 0.3em;
    transform: scale(2);
}

fieldset input[type="radio"]:checked + label svg {
    background: rgb(215, 219, 203);
}

/*--------- Step indicator --------------*/
section nav h1 {
    text-align: center;
}
/* source: https://css-tricks.com/html5-progress-element/*/
progress {
    -webkit-appearance: none;
   appearance: none;
   width: 100%;
   height: 1em;

}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 0.1em;
}

progress[value]::-webkit-progress-value {
  background-color: #84DCC6;

}

nav ol{
    display: flex;
    justify-content: space-between;
}
