.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #999;
    height: 5rem;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    
    width: calc(100% - 2rem);
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: .2rem;
    
    opacity: 1;
    pointer-events: all;
    border-radius: 5px;
    .player__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        button {
            font-size: 1.8rem;
            margin: 0 1rem;
            outline: none;
        }

        .player__thumb {
            transform: scale(.75);
            transition: filter .3s ease-in-out;
            height: 100%;
    
            &.svg {
                min-width: 100px;
                min-height: 100px;
            }

            img {
                height: 100%;
                width: auto;
                border-radius: 100%;
            }
        }

        .player__description {
            flex: 1;
        }

        .player__controls {
            // flex: 1;
        }
    }


    .player__iframe {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }

    &.player--hidden {
        opacity: 0;
        pointer-events: none;
    }
}