/*--------- Step indicator --------------*/
/* source: https://css-tricks.com/html5-progress-element/*/
section nav {
	display: flex;
}

progress {
	-webkit-appearance: none;
    appearance: none;
    min-width: 80vw;
    height: 0.5em;
    align-self: center;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 0.1em;
}

progress[value]::-webkit-progress-value {
  background-color: #84DCC6;

}

nav ol{
display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 90vw;
    align-self: center;
    margin-top: .5em;
	/*src: http://www.kodhus.com/css-only-step-progress-bar/*/
	counter-reset: step;
}

nav ol li {
	margin-top: 1.2em;
}
nav ol li::before {
	content: counter(step);
	counter-increment: step;
	vertical-align: middle;
    border: 0.1em solid #fff;
    padding: 1em;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: -89%;
    background: #D2DACC;
}

nav ol li:nth-child(-n+2)::before{
	border: 0.1em solid #84DCC6;
}
