* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-wrap: wrap;
    font-family: "lato"
}

header {
    border: aolis;
    background: url(/images/header.jpg);
    height: 30vh;
    min-width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    text-transform: uppercase;
    border-bottom: 0.1em solid #e3e3e3;
}


main {
    padding-top: 20em;
    min-width: 100%;
    padding: 1em;
    text-align: center;
}
main h1 {
    margin-bottom: 1em
}
main nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
main nav a {
    color: #bd4043;
    text-decoration: none;
    border: 0.1em solid white;
    transition: .3s;
    padding: 1em;
}
main nav a:hover {
    border: 0.1em solid #bd4043;
}


footer {
    padding: 1em;
    height: 10vh;
    position: absolute;
    bottom: 0;
    min-width: 100%;
}
footer li {
    list-style: none
}
